* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}
:root {
  --primary-color: #c89595;
}

header {
  background-image: url("https://i.pinimg.com/originals/e0/9e/cc/e09ecc13730638c5026e1ece3fbb7172.jpg");
  width: 100%;
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
}
.nav {
  display: flex;
  margin: 0rem 15%;
  justify-content: space-between;
}
.nav-logo > h3 {
  font-size: 6rem;
  letter-spacing: 6px;
  font-weight: 700;
}

.nav-logo > p {
  font-size: 4rem;
  font-weight: 400;
  letter-spacing: 12px;
}
.nav-logo {
  margin-top: 6rem;
}
.nav-link {
  display: flex;
  gap: 8rem;
  margin-top: 6rem;
}

.nav-link > a {
  color: #fff;
  font-size: 4rem;
  text-decoration: none;
  font-weight: 100;
}
